body{
    background-image: url("https://previews.123rf.com/images/3dart/3dart1304/3dart130400062/18936069-3d-numbers-wallpaper.jpg");
}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.calculator{
    margin-top: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px whitesmoke;
    background: #0BA2B3;
    border-radius: 10px;
}

div.screen{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    border: 3px solid wheat;
    background: #A0A0A0;
    border-radius: 10px;
    padding-right: 10px;
}

div.equation{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 30px;
    /* border: 1px solid black; */
    align-items: center;
    font-size: large;
}
div.answer{
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 30px;
    /* border: 1px solid black; */
    align-items: center;
    font-size: large;
}

div.buttons{
    display: flex;
    width: 300px;
    height: 300px;
    border:3px solid wheat;
    background: #A0A0A0;
    border-radius: 10px;
}

div.numbers{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */

}

div.operations{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 300px;
    /* border: 1px solid black; */
}

button{
    width: 55px;
    height: 55px;
    border-radius: 10px;

    /* border: 1px solid grey; */
    /* border-radius: 50%; */
    font-size: large;
}
