body{
    background-image: url("https://previews.123rf.com/images/3dart/3dart1304/3dart130400062/18936069-3d-numbers-wallpaper.jpg");
}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.calculator{
    margin-top: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px whitesmoke;
    background: #0BA2B3;
    border-radius: 10px;
}

div.screen{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    height: 50px;
    border: 3px solid wheat;
    background: #A0A0A0;
    border-radius: 10px;
    padding-right: 10px;
    font-size: larger;
}

div.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border:3px solid wheat;
    background: #A0A0A0;
    border-radius: 10px;
}

button{
    width: 65px;
    height: 65px;
    border: 1px solid grey;
    border-radius: 50%;
    font-size: large;
}
